.player-container {
    background-color: rgb(29, 29, 29);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(210, 217, 223);
    font-family: monospace;
    align-items: center;
    justify-content: flex-start;
}

.navbar {
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    width: 100%;
}

.music-container {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
}

.slider-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 22, 22);
    width: 100%;
}

.playlist-container {
    width: 95vw;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-width: thin;
    gap: 20px;
    row-gap: 25px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.playlist-container::-webkit-scrollbar {
    display: none;
}

.playlist-title {
    font-size: 30px;
    margin: 0px;
    background-color: rgb(22, 22, 22);
    padding: 10px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    transition: ease 0.25s;
}

.playlist-title:hover {
    -webkit-transform: scale(1.05);
    border: 1px solid rgba(255, 255, 255, 0.363);
    background-color: rgb(15, 15, 15);
}

.audio-panel {
    width: 400px;
    height: 40px;
    transition: ease 0.25s;
}

.audio-panel:hover {
    -webkit-transform: scale(1.1);
}

.track-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.active-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.active-title > img {
    width: 100px;
    border-radius: 5px;
}

.active-title-author {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    gap: 0px;
}

.active-title-author > p,h2 {
    margin: 0px;
    padding: 0px;
}

.active-album-duration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active-album-duration > h2 {
    margin-bottom: 4px;
}