<div class="player-container">
    <div class="navbar">
        <h1>Music Player</h1>
    </div>
    <div class="music-container">
        <!-- <button (click)="playSong()">Track</button> -->
        <button (click)="grabPlaylist()">Playlist</button>
        <div class="track-container" *ngIf="currentFile != null && currentFile != undefined">
            <h2>{{currentFile.title}}</h2>
            <audio controls class="audio-panel">
                <source type="audio/mpeg" src={{currentFile.preview}} />
                <source type="audio/mp3" src={{currentFile.preview}} />
            </audio>
        </div>
        <div class="playlist-container" *ngIf="currentPlaylist != null && currentPlaylist != undefined">
            <h2>{{currentPlaylist.title}}</h2>
        </div>
    </div>
    <div class="slider-actions">
        <h1>Active Song</h1>
    </div>
</div>