<div class="single-track">
    <button class="track-action" (click)="updateActiveSong()">
        <div class="left-side">
            <img class="album-img" src="{{album_cover}}"/>
            <div class="title-author">
                <p class="song-title">{{title}}</p>
                <p class="artist-name">{{artist}}</p>
            </div>
        </div>
        <div class="right-side">
            <p class="artist-name">{{album_title}}</p>
            <p class="artist-name">{{getFormattedDuration()}}</p>
        </div>
    </button>
</div>
